app_deployments/rooms/room2/room2_flow_backup/flows.json
[{"id":"97e1154e1e8a6e81","type":"tab","label":"Sensors data2","disabled":false,"info":""},{"id":"d956f719b66b2675","type":"function","z":"97e1154e1e8a6e81","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t    today = new Date();\n\t    date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 20, \n    \t\t\t        unit: \"celsius\",\n\t\t\t            date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t    context.loops = context.loops + 1;\n            today = new Date();\n            date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n            time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n            dateTime = date+' '+time;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tif (measurement > 30) {\n\t\t\t    measurement = measurement + getRandomInt(-10, 0);\n\t\t\t    msg.payload = {value: measurement, \n    \t\t\t               unit: \"celsius\",\n\t\t\t                   date_time: dateTime};\n\t\t\t}else{\n\t\t\t    measurement = measurement + getRandomInt(0, 3);\n\t\t\t    msg.payload = {value: measurement, \n    \t\t\t               unit: \"celsius\",\n\t\t\t                   date_time: dateTime};\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["1d0e858a617f620e","34b2cbaa74b8bcbf"],["447979f8522c02bf"]]},{"id":"447979f8522c02bf","type":"delay","z":"97e1154e1e8a6e81","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":267,"wires":[["d956f719b66b2675"]]},{"id":"1d0e858a617f620e","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"138b4fa4c8c51f45","type":"scheduler","z":"97e1154e1e8a6e81","outtopic":"room1/temperature","outpayload1":"start","outpayload2":"stop","name":"Temperture Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":200,"y":80,"wires":[["d956f719b66b2675"],[],[]]},{"id":"34b2cbaa74b8bcbf","type":"mqtt out","z":"97e1154e1e8a6e81","name":"","topic":"room2/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":690,"y":140,"wires":[]},{"id":"8889a160ed93b149","type":"mqtt in","z":"97e1154e1e8a6e81","name":"","topic":"room2/fan/speed","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":720,"wires":[["d74d0c6c1c615f89"]]},{"id":"d74d0c6c1c615f89","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":720,"wires":[]},{"id":"066a136a122832a9","type":"function","z":"97e1154e1e8a6e81","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 2200, \n\t\t\t           unit: \"rpm\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 6700) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(0,1000);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"rpm\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 300 > 6700 && measurement < 6700){\n\t\t\t    diff = 6700 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"measurement\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement >= 1000 && measurement <= 6400){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 15;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 7){\n\t\t\t        measurement = measurement - 15;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["c8dda625f4c1fa11","66afe93f2bdd2b69"],["408248ada29c7441"]]},{"id":"408248ada29c7441","type":"delay","z":"97e1154e1e8a6e81","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":627,"wires":[["066a136a122832a9"]]},{"id":"c8dda625f4c1fa11","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"c59e8c369dfdc9c1","type":"scheduler","z":"97e1154e1e8a6e81","outtopic":"room1/fan/speed","outpayload1":"start","outpayload2":"stop","name":"Fan Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":160,"y":440,"wires":[["066a136a122832a9"],[],[]]},{"id":"66afe93f2bdd2b69","type":"mqtt out","z":"97e1154e1e8a6e81","name":"","topic":"room2/fan/speed","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":670,"y":500,"wires":[]},{"id":"69f07883cd8d39f0","type":"mqtt in","z":"97e1154e1e8a6e81","name":"","topic":"room2/temperature","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":340,"wires":[["c1b259d5a0c5b24e"]]},{"id":"c1b259d5a0c5b24e","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"cdd6cd6061e2e3a4","type":"inject","z":"97e1154e1e8a6e81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/temperature","payload":"stop","payloadType":"str","x":200,"y":160,"wires":[["d956f719b66b2675"]]},{"id":"9befa2a7a6119c95","type":"inject","z":"97e1154e1e8a6e81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/fan/speed","payload":"stop","payloadType":"str","x":160,"y":520,"wires":[["066a136a122832a9"]]},{"id":"2cc53dd37f348a51","type":"mqtt in","z":"97e1154e1e8a6e81","name":"","topic":"room2/humidity","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":1140,"wires":[["8b83d7c05869c8c9"]]},{"id":"8b83d7c05869c8c9","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1140,"wires":[]},{"id":"21ac502c82af3c15","type":"function","z":"97e1154e1e8a6e81","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 30, \n\t\t\t           unit: \"rh%\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 100) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(40,70);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"rh%\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 10 > 100 && measurement < 100){\n\t\t\t    diff = 100 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"rh%\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 10 && measurement < 100){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 2){\n\t\t\t        measurement = measurement - 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 5){\n\t\t\t        measurement = measurement - 2;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":920,"wires":[["77c761baa92d06a5","a0f929f41aa834ea"],["512240ee93070326"]]},{"id":"512240ee93070326","type":"delay","z":"97e1154e1e8a6e81","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":1047,"wires":[["21ac502c82af3c15"]]},{"id":"77c761baa92d06a5","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":840,"wires":[]},{"id":"6ad948135dd88b2c","type":"scheduler","z":"97e1154e1e8a6e81","outtopic":"room1/humidity","outpayload1":"start","outpayload2":"stop","name":"Humidity Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":170,"y":860,"wires":[["21ac502c82af3c15"],[],[]]},{"id":"a0f929f41aa834ea","type":"mqtt out","z":"97e1154e1e8a6e81","name":"","topic":"room2/humidity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":660,"y":920,"wires":[]},{"id":"b2de44398c5839a9","type":"inject","z":"97e1154e1e8a6e81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/humidity","payload":"stop","payloadType":"str","x":150,"y":940,"wires":[["21ac502c82af3c15"]]},{"id":"749e05fc1b48e897","type":"mqtt in","z":"97e1154e1e8a6e81","name":"","topic":"room2/light_intensivity","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":1640,"wires":[["b153f450668bce57"]]},{"id":"b153f450668bce57","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1640,"wires":[]},{"id":"c7c38a431f5bbb26","type":"function","z":"97e1154e1e8a6e81","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 350, \n\t\t\t           unit: \"lux\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 1000) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(400,850);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"lux\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 100 > 1000 && measurement < 1000){\n\t\t\t    diff = 1000 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"lux\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 50 && measurement < 1000){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 31;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 23;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 8){\n\t\t\t        measurement = measurement - 27;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1420,"wires":[["2f05a4a7d1227aff","6950398aef358285"],["ac06361a0640b7f0"]]},{"id":"ac06361a0640b7f0","type":"delay","z":"97e1154e1e8a6e81","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":1547,"wires":[["c7c38a431f5bbb26"]]},{"id":"2f05a4a7d1227aff","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1340,"wires":[]},{"id":"d24b22a0e1858d9a","type":"scheduler","z":"97e1154e1e8a6e81","outtopic":"room1/light_intensivity","outpayload1":"start","outpayload2":"stop","name":"Light Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":180,"y":1360,"wires":[["c7c38a431f5bbb26"],[],[]]},{"id":"6950398aef358285","type":"mqtt out","z":"97e1154e1e8a6e81","name":"","topic":"room2/light_intensivity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":700,"y":1420,"wires":[]},{"id":"0a58346b166feb59","type":"inject","z":"97e1154e1e8a6e81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/light_intensivity","payload":"stop","payloadType":"str","x":200,"y":1440,"wires":[["c7c38a431f5bbb26"]]},{"id":"19cdc36b73882b74","type":"mqtt in","z":"97e1154e1e8a6e81","name":"","topic":"room2/sound_dba","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":2100,"wires":[["77091893821c99ac"]]},{"id":"77091893821c99ac","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":2100,"wires":[]},{"id":"db4adcf17b6dbaac","type":"function","z":"97e1154e1e8a6e81","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 30, \n\t\t\t           unit: \"dBA\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 60) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(0,20);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"dBA\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 5 > 60 && measurement < 60){\n\t\t\t    diff = 60 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"dBA\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 0 && measurement < 60){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 2;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 8){\n\t\t\t        measurement = measurement - 1;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1880,"wires":[["5573defd0fecdc37","1075f90ef37dd242"],["ac6182c128d3b821"]]},{"id":"ac6182c128d3b821","type":"delay","z":"97e1154e1e8a6e81","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":2007,"wires":[["db4adcf17b6dbaac"]]},{"id":"5573defd0fecdc37","type":"debug","z":"97e1154e1e8a6e81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1800,"wires":[]},{"id":"10de78eaf8858963","type":"scheduler","z":"97e1154e1e8a6e81","outtopic":"room1/sound_dba","outpayload1":"start","outpayload2":"stop","name":"Sound Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":190,"y":1820,"wires":[["db4adcf17b6dbaac"],[],[]]},{"id":"1075f90ef37dd242","type":"mqtt out","z":"97e1154e1e8a6e81","name":"","topic":"room2/sound_dba","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":690,"y":1880,"wires":[]},{"id":"1cdb6b23e33a43bf","type":"inject","z":"97e1154e1e8a6e81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/sound_dba","payload":"stop","payloadType":"str","x":180,"y":1900,"wires":[["db4adcf17b6dbaac"]]},{"id":"7fa102c41ccc6e44","type":"mqtt-broker","name":"","broker":"10.96.36.139","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]