app_deployments/rooms/room2/room2_flow_backup/flows.json
[{"id":"7c7dc628.08a158","type":"tab","label":"Sensors data","disabled":false,"info":""},{"id":"1c4074bd.e3bf8b","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t    today = new Date();\n\t    date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 20, \n    \t\t\t        unit: \"celsius\",\n\t\t\t            date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t    context.loops = context.loops + 1;\n            today = new Date();\n            date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n            time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n            dateTime = date+' '+time;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tif (measurement > 30) {\n\t\t\t    measurement = measurement + getRandomInt(-10, 0);\n\t\t\t    msg.payload = {value: measurement, \n    \t\t\t               unit: \"celsius\",\n\t\t\t                   date_time: dateTime};\n\t\t\t}else{\n\t\t\t    measurement = measurement + getRandomInt(0, 3);\n\t\t\t    msg.payload = {value: measurement, \n    \t\t\t               unit: \"celsius\",\n\t\t\t                   date_time: dateTime};\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["7b60d417.849f2c","a44244962e51c724"],["a380b8b5.5c7f48"]]},{"id":"a380b8b5.5c7f48","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":470,"y":267,"wires":[["1c4074bd.e3bf8b"]]},{"id":"7b60d417.849f2c","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"acbea390c095e2b3","type":"scheduler","z":"7c7dc628.08a158","outtopic":"room1/temperature","outpayload1":"start","outpayload2":"stop","name":"Temperture Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":200,"y":80,"wires":[["1c4074bd.e3bf8b"],[],[]]},{"id":"a44244962e51c724","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"room1/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":690,"y":140,"wires":[]},{"id":"8679912d16fd9495","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"room1/fan/speed","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"x":340,"y":720,"wires":[["abee4fdfb2b4ad50"]]},{"id":"abee4fdfb2b4ad50","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":720,"wires":[]},{"id":"f463b190bbeece7f","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 2200, \n\t\t\t           unit: \"rpm\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 6700) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(0,1000);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"rpm\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 300 > 6700 && measurement < 6700){\n\t\t\t    diff = 6700 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"measurement\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement >= 1000 && measurement <= 6400){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 15;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 7){\n\t\t\t        measurement = measurement - 15;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rpm\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["4c9f0cd7386b28f3","09b877f73ea6fed5"],["e65f4f0e0befd6d8"]]},{"id":"e65f4f0e0befd6d8","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":460,"y":627,"wires":[["f463b190bbeece7f"]]},{"id":"4c9f0cd7386b28f3","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"1be9cb41e67649d8","type":"scheduler","z":"7c7dc628.08a158","outtopic":"room1/fan/speed","outpayload1":"start","outpayload2":"stop","name":"Fan Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":160,"y":440,"wires":[["f463b190bbeece7f"],[],[]]},{"id":"09b877f73ea6fed5","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"room1/fan/speed","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":670,"y":500,"wires":[]},{"id":"be58ed542515fbbb","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"room1/temperature","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"x":390,"y":340,"wires":[["0c6012c330f77c6e"]]},{"id":"0c6012c330f77c6e","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"179dd1102686daae","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/temperature","payload":"stop","payloadType":"str","x":200,"y":160,"wires":[["1c4074bd.e3bf8b"]]},{"id":"58cabb92533c62ad","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/fan/speed","payload":"stop","payloadType":"str","x":160,"y":520,"wires":[["f463b190bbeece7f"]]},{"id":"b9ed74b9542d631b","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"room1/humidity","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"x":340,"y":1140,"wires":[["8f6e0940a3d419f5"]]},{"id":"8f6e0940a3d419f5","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1140,"wires":[]},{"id":"5fc47e13db25c729","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 30, \n\t\t\t           unit: \"rh%\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 100) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(40,70);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"rh%\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 10 > 100 && measurement < 100){\n\t\t\t    diff = 100 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"rh%\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 10 && measurement < 100){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 2){\n\t\t\t        measurement = measurement - 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 5){\n\t\t\t        measurement = measurement - 2;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"rh%\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":920,"wires":[["2591c34649c33f63","1174133a1f85d1f9"],["930f7e3f3d92be80"]]},{"id":"930f7e3f3d92be80","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":460,"y":1047,"wires":[["5fc47e13db25c729"]]},{"id":"2591c34649c33f63","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":840,"wires":[]},{"id":"1b6028330f34a13e","type":"scheduler","z":"7c7dc628.08a158","outtopic":"room1/humidity","outpayload1":"start","outpayload2":"stop","name":"Humidity Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":170,"y":860,"wires":[["5fc47e13db25c729"],[],[]]},{"id":"1174133a1f85d1f9","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"room1/humidity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":660,"y":920,"wires":[]},{"id":"fa2d35f9a01bdf6e","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/humidity","payload":"stop","payloadType":"str","x":150,"y":940,"wires":[["5fc47e13db25c729"]]},{"id":"19182b090ec92a71","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"room1/light_intensivity","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"x":380,"y":1640,"wires":[["8c6b068bdcadbe36"]]},{"id":"8c6b068bdcadbe36","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1640,"wires":[]},{"id":"172e908f48d5b609","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 350, \n\t\t\t           unit: \"lux\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 1000) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(400,850);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"lux\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 100 > 1000 && measurement < 1000){\n\t\t\t    diff = 1000 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"lux\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 50 && measurement < 1000){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 31;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 23;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 8){\n\t\t\t        measurement = measurement - 27;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"lux\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1420,"wires":[["0658923d116a9550","2b2869a38d11770d"],["9fb992afaf4a44c0"]]},{"id":"9fb992afaf4a44c0","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":480,"y":1547,"wires":[["172e908f48d5b609"]]},{"id":"0658923d116a9550","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1340,"wires":[]},{"id":"b359b9df160c39ba","type":"scheduler","z":"7c7dc628.08a158","outtopic":"room1/light_intensivity","outpayload1":"start","outpayload2":"stop","name":"Light Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":180,"y":1360,"wires":[["172e908f48d5b609"],[],[]]},{"id":"2b2869a38d11770d","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"room1/light_intensivity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":700,"y":1420,"wires":[]},{"id":"316059ce22ab28d6","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/light_intensivity","payload":"stop","payloadType":"str","x":200,"y":1440,"wires":[["172e908f48d5b609"]]},{"id":"40b8167de1d29c75","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"room1/sound_dba","qos":"2","datatype":"auto","broker":"7fa102c41ccc6e44","nl":false,"rap":true,"rh":0,"x":370,"y":2100,"wires":[["1a006183ba0a43d3"]]},{"id":"1a006183ba0a43d3","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":2100,"wires":[]},{"id":"6ba79c180c5bbfbc","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\treturn [null,null];\n\tcase \"start\":\n        today = new Date();\n        date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\n        time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n        dateTime = date+' '+time;\n\t\tmsg.payload = {value: 30, \n\t\t\t           unit: \"dBA\",\n\t\t               date_time: dateTime};\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmeasurement = msg.payload.value;\n\t\t\tdivide_by = getRandomInt(1,10);\n\t\t\tif (measurement == 60) {\n\t\t\t    if (context.loops % divide_by == 0){\n\t\t\t        measurement = measurement - getRandomInt(0,20);\n    \t\t\t    msg.payload = {value: measurement, \n    \t\t\t                    unit: \"dBA\",\n\t\t                            date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}else if (measurement + 5 > 60 && measurement < 60){\n\t\t\t    diff = 60 - measurement;\n\t\t\t    measurement = measurement + diff;\n    \t\t\tmsg.payload = {value: measurement, \n    \t\t\t               unit: \"dBA\",\n\t\t                       date_time: dateTime};\n\t\t\t}else if(measurement > 0 && measurement < 60){\n\t    \t    if (context.loops % divide_by == 0){\n        \t\t\tmeasurement = measurement + 5;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by < 3){\n\t\t\t        measurement = measurement - 2;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else if(context.loops % divide_by > 8){\n\t\t\t        measurement = measurement - 1;\n        \t\t\tmsg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }else{\n\t\t\t        measurement = measurement\n\t\t\t        msg.payload = {value: measurement, \n        \t\t\t               unit: \"dBA\",\n\t\t                           date_time: dateTime};\n\t\t\t    }\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1880,"wires":[["9c541f3edc09beae","778be3321673ace5"],["06ccb4c99ac66121"]]},{"id":"06ccb4c99ac66121","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":480,"y":2007,"wires":[["6ba79c180c5bbfbc"]]},{"id":"9c541f3edc09beae","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1800,"wires":[]},{"id":"4b8143bd3863faeb","type":"scheduler","z":"7c7dc628.08a158","outtopic":"room1/sound_dba","outpayload1":"start","outpayload2":"stop","name":"Sound Sensor Scheduler","lat":"48.210033","lon":"16.363449","start":"sunrise","end":"sunset","starttime":"480","endtime":"1020","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":190,"y":1820,"wires":[["6ba79c180c5bbfbc"],[],[]]},{"id":"778be3321673ace5","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"room1/sound_dba","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fa102c41ccc6e44","x":690,"y":1880,"wires":[]},{"id":"246f6431085af417","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room1/sound_dba","payload":"stop","payloadType":"str","x":180,"y":1900,"wires":[["6ba79c180c5bbfbc"]]},{"id":"7fa102c41ccc6e44","type":"mqtt-broker","name":"","broker":"10.152.183.248","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]